/*
#######
Imports
#######
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
#########
Variables
#########
*/

:root {
  --bg-grey: #FEEFE5;
  --grid-border: #ceccca;
  --etch-bg: #e94848;
  --font-yellow: #fce26e;
  --grid-size: 500px;
  --selected-colour: black;
}

/*
###########
Base styles
###########
*/

html, body {
  width: 100%;
  background-color: var(--bg-grey);
}

body {
  height: 100vh; 
  font-family: 'Share', cursive;
  font-size: 18px;
}

.content {
  min-height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, main, footer {
  flex-shrink: 0;
}

.center-sticky {
  flex: auto;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: var(--font-yellow);
  font-size: 7rem;
}

p {
  font-size: 1rem;
}

button {
  background-color: var(--bg-grey);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* 
################
Main styles
################
*/

/** Header section
*/

header {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}


/** Main section
*/

.display {
  background-color: var(--etch-bg);
  border-radius: 60px;
  padding: 40px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.left-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 140px; /*Width of the outside container*/
}

.size p {
  margin-bottom: 80px;
  background-color: var(--bg-grey);
  padding: 7px;
  width: 65px;
  border-radius: 10px;
  text-align: center;
}

.wipe {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.grid {
  display: grid;
  grid-gap: 1px;
  background-color: var(--bg-grey);
  width: var(--grid-size);
  height: var(--grid-size);
  border-width: 1px;
  border-color: var(--grid-border);
  grid-template-columns: repeat(var(--grid-length), auto);
}

.selected {
  background-color: var(--font-yellow);
  color: black;
}

.modes {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#colour-picker {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

/* Styles colour picker */
#colour-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-grey);
  transition: box-shadow 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
}

#colour-picker::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-grey);
  transition: box-shadow transform 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px; */
}

#colour-picker::-moz-color-swatch:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  transform: scale(1.02);
}

#colour-picker::-webkit-color-swatch:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  transform: scale(1.02);
}

/* Slider */

/* The slider itself */
.slider {
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #dddddd; /* Grey background */
  opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  transition: box-shadow .2s;
  border-radius: 12px;
  transform: rotate(90deg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type='range']::-webkit-slider-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #525252; 
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-grey);
}

input[type='range']::-moz-range-thumb {
  border: 0;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #838383; 
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-grey);
}

/** Footer section
*/

footer {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--bg-grey);
  font-weight: bold;
}

footer img {
  width: 28px;
  padding-right: 6px;
}

footer a {
  display: flex;
  align-items: center;
}
